<div>

<button class="btn btn-danger query-button mt-5" *ngIf="!showAddQuery" (click)="toggleAddQuery()">
Post a Query
</button>

<app-add-query *ngIf="showAddQuery"  (displayAddQuery)="toggleAddQuery()" ></app-add-query>

<div *ngIf="userQueryData.length<=1" class="d-flex justify-content-center mt-5">
    <div style="color: blueviolet; font-size: xx-large;">You don't have any Queries till now</div>    
</div>

<div class="container mt-5">
    <div class="row">
        <app-query-container class="col-md-4 col-lg-4 col-sm-4 col-xl-4 col-4 vw-30" *ngFor="let query of userQueryData; let i = index" [queryData]="query"></app-query-container>
    </div>
</div>
</div>
