<div class="navbar">


    <div class="logo-container ">
        <img class="logo-image" src="https://www.poornima.org/img/logo.jpg" alt="" srcset="">
    </div>
    <div class="home-link">
        <div class="header__item"><a routerLink="/" class="header__link">Dashboard</a></div>
    </div>
    <div class="all-queries-link">
        <div class="header__item"><a routerLink="/all" class="header__link">ALL Queries</a></div>
    </div>
    <div class="profile-icon-container">
        <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn profile-dropdown" id="drop" ngbDropdownToggle>
                <div class="profile-icon">
                    <div class="profile-icon-text h3">
                        A
                    </div>
                </div>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdown1">
                <!-- items as links -->
                <a href="#" ngbDropdownItem>About</a>
                <a href="#" ngbDropdownItem>Log Out</a>
            </div>
        </div>

    </div>




</div>
<router-outlet></router-outlet>